@import './colors.scss';

.aboutus {
    // padding: 0px 0px 0px 0px;
    // width: 100x;
    background-color: $primary_color;
    box-shadow: 0px 0px 10px slategray;
}

.aboutusText {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: $ivory; 
    width: 80%;
    margin: 0 auto;
    font-size: 1.25rem;
}