@import './colors.scss';

.aboutus {
    // padding: 0px 0px 0px 0px;
    // width: 100x;
    background: #0086ac;
}

.aboutusText {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #f1f8f0; 
    width: 80%;
    margin: 0 auto;
}