@import './colors.scss';

.cen {
    text-align: center;
    white-space: nowrap;
}

.getStartedBtn {
    color: $ivory;
    background-color: $primary_color;
    white-space: nowrap;
    font-size : 1.25rem;
}

.getStartedBtn:hover {
    background-color: $button_on_hover; 
    color: $white;
    font-size : 1.25rem;
}


.getStartedBtn:active {
    color: $white;
    background-color: $button-active-blue;
    transform: translateY(3px);
    font-size : 1.25rem;
}
.Slogan{
    color: $primary_color;
}
.cardSloganHalf{
    font-size: 35px;
    color: $primary_color;
    text-shadow: 1px 1px 2px black, 0 0 25px $primary_color, 0 0 5px $secondary_color;
}
.conColor {
    background-color: $ivory
}
