$primary_color: #388087;
$secondary_color: #6B4423;
$tertiary_color: #C2EDCE;
$text_color: #000000;
$ivory:#f1f8f0;
$white: #fff;
$taupe:#CAC6C6;
$google-blue: #4285f4;
$button-active-blue: #BADFE7; 