$primary_color: #3D758A;
$secondary_color: #D9D7BA;
$tertiary_color: #D9D0D2;
$quaternary_color:#ADCDD9;
$quinary_color:  #8C797D;

$text_color: #000000;
$ivory:#f1f8f0;
$white: #fff;
$grey: #eeeeee;

$google-blue: #4285f4;
$button_on_hover: lighten($primary_color, 5%);
$button-active-blue: #BADFE7; 

$border_color: rgba(0, 0, 0, 0.274);
$light_grey: rgba(0, 0, 0, 0.342);
$light_shade: rgba(32, 32, 32, 0.288);
$danger: rgb(187, 8, 8);