@import './Colors.scss';
.cen {
    text-align: center;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

.cardSlogan {
    color: $text_color;
}

.cardBorder {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: #c9d8e4;
}

.colorChanger {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: $ivory;
}

.roundElem {
    border-radius: 50%;
}

.colorRed {
    background-color: rgb(241, 170, 170);
    cursor: pointer;
}

.colorBlue {
    background-color: rgb(183, 183, 247);
    cursor: pointer;
}

.colorGreen {
    background-color: rgb(183, 248, 183);
    cursor: pointer;
}

.colorWhite {
    border-radius: 50%;
    background-color: white;
}