@import "./colors.scss";

.contact {
  background: $primary_color;
  padding: 1% 0;
  text-align: center;
}

.contactText {
  letter-spacing: 1px;
  font-style: italic;
  padding-top: 10px;
  color: $ivory;
  width: 80%;
  margin: 0 auto;
  font-size: 1.25rem;
}

.footer {
  padding: 1% 0;
  font-size: small;
  background-color: $primary_color;
  text-align: center;
}

.footerText {
  color: $ivory;
}
