@import './colors.scss';

.footer {
    padding-top: 5px;
    margin-right: 5px;
    background-color: $primary_color;
    text-align: right
    
}

.footerText {
    color: $text_color;
    width: 80%
}

.contact {
    background: $primary_color
}

.contactText {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: $text_color;
    width: 80%;
    margin: 0 auto
}