@import './colors.scss';

.footer {
    position: absolute;
    margin: auto;
    background-color: $primary_color;
    text-align: center;
    
}

.footerText {
    color: $ivory;
}

.contact {
    background: $primary_color
}

.contactText {
    padding-top: 10px;
    color: $ivory;
    width: 80%;
    margin: 0 auto;
    font-size : 1.25rem;
}