html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  scroll-behavior: smooth;
  background-color: white;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
