@import './colors.scss';

.wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 5% 0; 
}

.card {
  padding: 3% 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  h1{
    letter-spacing: 1px;
    font-style: italic;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }

  h1 {
    text-align: center;
  }
}



