@import './colors.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.loginContainer{
  min-height: 58vh;
}

.googleBtn {
  color:$ivory;
  width: 200px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin: 2% auto;
  .googleIconWrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .googleIcon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btnText {
    float: right;
    margin: 11px 13px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.9px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

