@import './Colors.scss';
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.button {
    font-weight: 700;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary_color;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    &:hover {
        color: $ivory;
        background-color: #126599;
    }
    &:active {
        color: $ivory;
        background-color: #1181c8;
        transform: translateY(3px);
    }
}

.searchbutton {
    background-color: $secondary_color;
    padding: 10px;
    border: none;
    border-radius: 5px;
    &:hover {
        color: $ivory;
        background-color: $secondary_color;
    }
    &:active {
        color: $ivory;
        background-color: #1181c8;
        transform: translateY(2px);
    }
}

.buttonContainer {
    display: flex;
    padding: 10px, 10px;
}

.MyOwnCardButtonShare {
    font-weight: 700;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    background-color: #67D7ED;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 45px;
    &:hover {
        color: $ivory;
        background-color: #126599;
    }
    &:active {
        color: $ivory;
        background-color: #1181c8;
        transform: translateY(3px);
    }
}

.MyOwnCardButtonDelete {
    font-weight: 700;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95F62;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 45px;
    &:hover {
        color: $ivory;
        background-color: #E33539;
    }
    &:active {
        color: $ivory;
        background-color: #EE9FA1;
        transform: translateY(3px);
    }
}

.dropdownContainer {
    font-weight: 700;
    font-size: 25px;
}

.CardDisplay {
    right: 50%;
    justify-items: center;
    align-self: center;
}

.GroupButtonDelete {
    font-weight: 700;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    background-color: #F95F62;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    &:hover {
        color: $ivory;
        background-color: #E33539;
    }
    &:active {
        color: $ivory;
        background-color: #EE9FA1;
        transform: translateY(3px);
    }
}

.accordionButton {
    &:after {
        margin-right: auto !important;
    }
}

.cen {
    text-align: center;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

.cardHead {
    color: $secondary_color;
    font-family: cursive;
}

.addCard {
    position: fixed;
    top: 85%;
    right: 7%;
    margin-left: 50px;
    font-size: 4rem;
    color: orange;
    cursor: pointer;
    z-index: 2;
}