@import "./colors.scss";

.navbar {
  background-color: $primary_color;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 2px 2px;
}

.navbarContact {
  font-size: 21px;
  padding: 12px;
  color: $white;
  font-weight: lighter;
  letter-spacing: .2px;
}

.navbarContact:hover {
  color: $tertiary_color;
}

.navbarContact:active {
  color: $ivory;
}

.button {
  font-size: medium;
  letter-spacing: 1.5px;
  opacity: .9;
  margin: 10px;
  margin-top: 10px;
  background-color: $white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 45px;
  transition: ease-in 0.05s;
}
 
.button:hover {
  color: $white;
  background-color: $button_on_hover; 
}

.button:active {
  color: $text_color;
  background-color: $button-active-blue;
  transform: translateY(3px);
}

.userNameText {
  display:inline;
  margin: 0;
  color: $ivory;
  font-size: 15px;
  letter-spacing: 1%;
  padding-right: .5%;
}

.thumbnail {
  border: 2px solid $secondary_color;
  border-radius: 5%;
}