@import './colors.scss';

.navbar {
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: $primary_color; 
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}



.navbarContact {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  padding: 12px;
  display: flex;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap; 
}
.navbarContact:hover{
  color: #fff;
}
.navbarContact:active {
  color: #fff;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    justify-items: center;
    align-self: center;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    white-space: nowrap;
}

.button:hover {
    color:#fff;
    background-color: #126599
}

.button:active {
    color: #ffffff;
    background-color: #1181C8;
    transform: translateY(3px);
}
