@import "./Colors.scss";

$small: 450px;

.container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 90%;
  margin: 2% auto;
}

.imgDiv {
  display: flex;
  flex-direction: row;
  padding-bottom: 4%;
  @media screen and (max-width: $small) {
    flex-direction: column;
    overflow-x:unset;
    padding-bottom: 0%;
  }
}

.imgWrap {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto !important;
  position: relative;
  flex-direction: row;
  transition: 0.2s;
  &:not(:first-child) {
    margin-left: -200px !important;
  }
  &:hover {
    transform: translateY(0px);
    i {
      color: red;
      transition: 0.6s;
      &:hover {
        color: rgba(255, 0, 0, 0.678);
      }
    }
  }
  &:hover ~ .imgWrap {
    // transform: translateY(-10px) !important;
    transform: translateX(220px) !important;
  }
  i {
    position: absolute;
    top: 10px;
    right: 2px;
    width: 10%;
    color: transparent;
  }
  @media screen and (max-width: $small) {
    flex-direction: column;
    &:not(:first-child) {
      margin-left: 0px !important;
      margin-top: -60px !important;
    }
    &:hover {
      transform: translateX(0rem);
      transform: translateY(-2rem);
    }
    &:hover ~ .imgWrap {
      transform: translateX(0px) !important;
      transform: translateY(40px) !important;
    }
  }
}

.userCardDiv {
  position: fixed;
  width: 33%;
  @media screen and (max-width: $small) {
    width: 100%;
  }
  z-index: 2;
  top: 0;
  height: 100%vh;
  text-align: center;
  background-color: darken($primary_color, 5%);
  display: table;
}

.userCardInsideDiv {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 2;
}

.userCardCloseButton {
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: large;
  &:hover {
    cursor: pointer;
    color: darken(white, 10%);
  }
}

.userCardImgDiv {
  position: relative; 
  i {
    position: absolute;
    width: 30px;
    top: 10px;
    right: 10px;
    color: $danger;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.062);
  }
}

.viewMyCardButton {
  width: 150px !important;
  height: 50px !important;
  margin: 20px;
  position: absolute;
  font-size: medium;
  padding: 2px;
  right: 1%;
  bottom: 2%;
  z-index: 1;
}

.menuPopup {
  position: absolute;
  right: 0;
  bottom: 10%;
  background-color: red;
  min-width: 50px;
  min-height: 50px;
  z-index: 1;
}

.imgShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  display: inline;
  width: 110px;
  height: 90px;
  font-weight: 700;
  color: $ivory;
  background-color: complement($primary_color);
  border: none;
  border-radius: 5px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 8, 0.19);
  &:hover {
    color: $ivory;
    background-color: darken(complement($primary_color), 5%);
  }
  &:active {
    color: $ivory;
    background-color: $button-active-blue;
    transform: translateY(3px);
  }
}

.boxContainer {
  margin:auto;
  margin-top: 5%;
  margin-bottom: 5%;
  position:relative;
  width:600px;
  height:42px;
  border:2px solid $primary_color;
  padding:0px 10px;
  border-radius:50px;
}
  .elementsContainer{
    width:100%;
    height:100%;
    vertical-align: middle;
  }

  .search{
    border:none;
    height:100%;
    width:100%;
    padding:0px 5px;
    border-radius: 50px;
    font-size: 18px;
    color:black;
    background-color: rgba(219, 211, 211, 0.062);;

  }

  .search:focus{
    outline: none;
  }
  .material-icons{
    font-size:25;
    color: #3D758A;

  }


.jumboButton{
    border:2px solid $primary_color;
    font-size: 2em;
    margin: 1%;
    padding:0.3em 1.5em;
    border-radius: 2%;
    text-transform:uppercase;
    box-sizing: border-box;
    color:$primary_color;
    &:hover{
     background-color: $primary_color;
     color: white;
    }
  
}

.mediumButton{
  border: none;
  font-size: 1.5em;
  margin: 0%;
  padding:0.4em 2.5em;
  color: white;
  // border-radius: 2%;
  box-sizing: border-box;
  text-transform:uppercase;
  background-color: transparent;
  &:hover{
    border:0.12em solid darken($primary_color, 10%);
    background-color: rgba(0, 0, 0, 0.041);
  }
}
