@import "./Colors.scss";
.fitimg {
  object-fit: cover;
  filter: drop-shadow(0 0 0.3rem slategray);
  // width: 1000px;
  // height: 1000px;
}

.button {
  display: inline;
  justify-content: center;
  width: 110px;
  font-weight: 700;
  color: $ivory;
  background-color: $primary_color;
  border: none;
  border-radius: 5px;
  height: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 8, 0.19);
  &:hover {
    color: $ivory;
    background-color: $button_on_hover;
  }
  &:active {
    color: $ivory;
    background-color: $button-active-blue;
    transform: translateY(3px);
  }
}

.buttonNew {
  display: inline;
  justify-content: center;
  width: 110px;
  font-weight: 700;
  color: $ivory;
  background-color: $primary_color;
  border: none;
  border-radius: 5px;
  height: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 8, 0.19);
  &:hover {
    color: $ivory;
    background-color: $button_on_hover;
  }
  &:active {
    color: $ivory;
    background-color: $button-active-blue;
    transform: translateY(3px);
  }
}

.imgwrap {
  position: relative;
}

.imgwrap .close {
  position: absolute;
  bottom: 10px;
  right: 2px;
  color: red;
  z-index: 1;
  &:hover {
    background-color: red;
    color: white;
  }
}
